body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: auto;
    font-size: 15px;

}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding-left: 10px;
    align-items: first baseline;
    margin-bottom: 210px;
}

.hero-cont {
    color: white;
    background-color: #1F2937;
    border: #1F2937 solid;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.search-button {
    background-color: #3881F6;
    border: 0px;
    padding: 11px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 750;
    font-size: 15px;
}

.tick {
    margin-bottom: 0;
    font-size: 55px;
    font-weight: 600;
    margin: 10px auto;
}

p {
    margin-top: 0;
    color: gray;
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 8px;
}

.search {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.log-in,
.sign-up {
    padding: 5px 30px;
    border-radius: 12px;
    height: 30px;
    margin: 8px;
}

.log-in {
    background-color: #1F2937;
    border: white solid 2px;
    color: white;
}

.sign-up {
    border: white solid 2px;
    color: #1F2937;
}

input {
    background-color: rgb(156, 164, 167);
    color: rgba(0, 0, 0, 0.753);
    padding: 4px 10px;
    border-radius: 5px;
    border: 0px;
    width: 700px;
    height: 30px;
    font-size: large;
    text-transform: uppercase;
}

.picks-cont {
    display: flex;
    gap: 5px;
    align-items: baseline;
    
}

#tick {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:hover {
    color: lightgray;
}

a:visited {
    color: white;
}

a:active {
    color: lightcyan;
}

.pick {
    background-color: lightblue;
    color: #1f2937d0;
    font-weight: bold;
    border: gray solid 2px;
    border-radius: 4px;
}

button {
    cursor: pointer;
}

